
body{
    background-repeat: no-repeat;
    background-size: cover;
}

div.container{
    width: 500px;
    height: 550px;
    background-color: aliceblue;
    margin-left: 35%;
    margin-top: 40px;
    background-image: url("images/blur city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 3px 10px 0px 43px rgba(0,0,0,1);
-moz-box-shadow: 3px 10px 0px 43px rgba(0,0,0,1);
box-shadow: 3px 10px 0px 43px rgba(0,0,0,1);
color: aliceblue;
text-align: center;
}

a.anchor{
    text-decoration: none;
    color: blue;
    text-transform: capitalize;
}